@import "tailwindcss";
/*@tailwind base;
@tailwind components;*/
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  font-family: system-ui, sans-serif; /* font-sans */
  color: #0f172a; /* text-slate-900 */
  background: linear-gradient(
    to bottom right,
    #0f172a,
    #312e81,
    #0f172a
  ); /* bg-gradient */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
